@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:400,700&display=swap");
* {
    padding: 0;
    box-sizing: border-box;
    border: 0;
    font-family: "Chakra Petch";
}

.body-flex {
    display: flex;
    flex-flow: column wrap;
}

.letter-color {
    color: #ffffff;
}

.background-color {
    background-color: #fffafe;
}

.flex {
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
}

.top-bar {
    display: flex;
    font-size: 12px;
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    box-shadow: 0 1px 0 0 #110038;
    letter-spacing: 0;
}

.nav {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.btn-windows98 {
    flex-flow: row nowrap;
    background: #f7c9f3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
    width: 144px;
    height: 36px;
}

.btn-windows98:hover {
    border: dotted 1px;
}

.btn-windows98:active {
    background: #e6bbe2;
    border: 1px solid #110038;
}

.letter {
    font-family: "ChakraPetch", Bold;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
}

.srch-bar {
    background: #ffffff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
    height: 5vh;
    width: 59vw;
}

.srch-btn {
    background: #e6e6e6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
    width: 6em;
    height: 2.6em;
}

input:focus~#btn {
    background: #f7c9f3;
    border: 1px solid #110038;
}

.srch-btn:active {
    background: #e6bbe2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
}

.gnr-bar {
    background: #fffafe;
    border: 1px solid #e6bbe2;
    box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
    height: 2.3em;
    width: 64.7vw;
    color: #000000;
}

.windows-style {
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 0px 2px 0 0 #ffffff;
    width: 64.8vw;
    height: 99px;
    justify-content: flex-end;
}

.padding-bar {
    padding-left: 0.3em;
    padding-top: 1.6em;
}

.window-bar {
    background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
    height: 1.1em;
}

.margin-zero {
    margin: 0;
}

.flex-window {
    justify-content: center;
    display: flex;
}

.flex-trendings {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.gif-content {
    display: flex;
    flex-flow: row wrap;
    max-width: fit-content;
    padding-left: 4em;
}

.margin-flex {
    margin: auto;
    display: flex;
    margin-top: 2em;
    margin-bottom: 2em;
}

.square-windows {
    display: flex;
    width: 40em;
    height: 20em;
}

.dropdown-content {
    display: flex;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.btn-depl {
    display: none;
    flex-flow: column;
    align-items: center;
    height: 4.6em;
    width: 11.3em;
    background: #e6e6e6;
    box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 2px 2px 0 0 #ffffff;
    margin-top: 2.2em;
}

.btn-theme {
    background: #f0f0f0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
    width: 150px;
    height: 36px;
}

.btn-theme:active {
    background: #fff4fd;
    border: 1px solid #cca6c9;
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

.btn-hash {
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    height: 34px;
    width: 81px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.btn-more {
    margin: 0;
    padding: 0;
    right: 18em;
    position: relative;
    bottom: 1em;
    background: #4180f6;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #284f99, inset 2px 2px 0 0 #ffffff;
    height: 34px;
    width: 81px;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
}

.pad-right {
    padding-right: 1.6em;
}

.anchors-norm:hover {
    border: 1px solid #110038;
}

.anchors-norm:active {
    color: #110038;
}

.anchors-norm {
    font-family: "ChakraPetch", Regular;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
}

.anchors-norm.dark {
    color: #FFFFFF;
}

.padding-input {
    padding-left: 1em;
}

.anch {
    text-decoration: none;
    color: black;
    display: block;
}

.anch.dark {
    color: #FFFFFF;
}

.background-color.dark {
    background: #110038;
}

.btn-windows98.dark {
    color: #ffffff;
    background: #ee3efe;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.btn-windows98:hover.dark {
    background: #ce36db;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #a72cb3, inset 1px 1px 0 0 #ffffff;
}

.btn-depl.dark {
    background: #b4b4b4;
}

.btn-theme:active.dark {
    color: #ffffff;
    background: #2e32fb;
    border: 1px solid rgba(51, 53, 143, 0.2);
    box-shadow: inset -1px -1px 0 0 #e6dce4, inset 1px 1px 0 0 #ffffff;
}

.btn-more.dark {
    background: #2e32fb;
    border: 1px solid #4c2f99;
    box-shadow: inset -2px -2px 0 0 #2124b3, inset 2px 2px 0 0 #ffffff;
}

.video {
    display: none;
}

.btn-video {
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    width: 144px;
    height: 36px;
}

.btn-video:disabled {
    background: #FFF4FD;
}

.container-video-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.center-items {
    display: flex;
    justify-content: center;
}

.margin-btn {
    margin-left: auto;
}

.img-btn {
    height: 36px;
    width: 36px;
}

.img-btn:active {
    color: #110038;
}

.newSize {
    width: 41em;
    height: 35em;
}

.btn-flex {
    display: flex;
}

.gif-size {
    height: 480px;
    width: 640px;
}

.wait-title {
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
}

.wait {
    font-size: 12px;
    color: rgba(17, 0, 56, 0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
}

.waitContainer {
    display: inherit;
    flex-flow: column wrap;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 40.7em;
    height: 30em;
}

.whiteBackground {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.waitChild {
    display: inherit;
    flex-flow: column wrap;
    align-items: center;
    align-self: center;
    padding-left: 13em;
    justify-content: center;
}

.waitButton {
    display: inherit;
    align-self: flex-end;
    padding-top: 34em;
    padding-right: 1em;
}

.btnPadding {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.1em;
}

.videoNorm {
    display: flex;
    transform: translateY(-104%);
}

.btn-color-red {
    background-color: #FF6161;
    color: #ffffff;
}

.transition {
    transform: translateY(-9%);
}

.timer {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.gif-preview {
    opacity: 0.3;
    height: 191px;
    width: 365px;
    transform: translate(-9em, 2em);
}

.guifo-create {
    display: flex;
    flex-flow: column;
    transform: translate(17em, -10em);
}

.guifo-btn {
    display: flex;
    flex-flow: column;
    transform: translateX(4em);
}

.ready-btn {
    transform: translate(9em, 12em);
}

.btn-resize {
    width: 256px;
}

.window-resize {
    width: 48em;
    height: 25em;
}

.textFig {
    
    transform: translate(3px,-19px);
    margin: 0;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    color: #FFFFFF;
    width: 281px;
    height: 19px;
}


.position{
    transform: translate(4px,5px);
}
.trends:hover {
    
    border: dotted 1px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
    width: 288px;
    height: 288px;
}

.hide {
    display: none;
}