@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:400,700&display=swap');
* {
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Chakra Petch', regular;
}

.body-flex {
  display: flex;
  flex-flow: column wrap;
}

.letter-color {
  color: #FFFFFF;
}

.background-color {
  background-color: #fffafe;
}

.dark-mode {
  background-color: black;
  color: white;
}

.flex {
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
}

.top-bar {
  display: flex;
  font-size: 12px;
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  box-shadow: 0 1px 0 0 #110038;
  letter-spacing: 0;
}

.nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

.btn-windows98 {
  flex-flow: row nowrap;
  background: #f7c9f3;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997d97, inset 1px 1px 0 0 #ffffff;
  width: 144px;
  height: 36px;
}

.btn-windows98:hover {
  border: dotted 1px;
}

.btn-windows98:active {
  background: #e6bbe2;
  border: 1px solid #110038;
}

.dropdown-arrow {
  height: 36px;
  width: 36px;
}

.dropdown-arrow:active {
  color: #110038;
}

.letter {
  font-family: "ChakraPetch", Bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
}

.srch-bar {
  background: #ffffff;
  border: 1px solid #979797;
  box-shadow: inset -2px -2px 0 0 #e6e6e6, inset 2px 2px 0 0 #000000;
  height: 5vh;
  width: 59vw;
}

.srch-btn {
  background: #e6e6e6;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #b4b4b4, inset 1px 1px 0 0 #ffffff;
  width: 6em;
  height: 2.6em;
}

input:focus~#btn {
  background: #F7C9F3;
  border: 1px solid #110038;
}

.srch-btn:active {
  background: #E6BBE2;
  border: 1px solid #110038;
  box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.gnr-bar {
  background: #fffafe;
  border: 1px solid #e6bbe2;
  box-shadow: inset -2px -2px 0 0 #e6dce4, inset 2px 2px 0 0 #80687d;
  height: 2.3em;
  width: 64.7vw;
}

.windows-style {
  background: #e6e6e6;
  box-shadow: inset -2px -2px 0 0 #b4b4b4, inset 0px 2px 0 0 #ffffff;
  width: 64.8vw;
  height: 99px;
  justify-content: flex-end;
}

.padding-bar {
  padding-left: 0.3em;
  padding-top: 1.6em;
}

.window-bar {
  background-image: linear-gradient(270deg, #f7c9f3 0%, #4180f6 100%);
  height: 1.1em;
}

.margin-zero {
  margin: 0;
}

.flex-window {
  justify-content: center;
  display: flex;
}

.flex-trendings {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.gif-content {
  display: flex;
  flex-flow: row wrap;
  max-width: fit-content;
}

.margin-flex {
  margin: auto;
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
}

.square-windows {
  display: flex;
  width: 40em;
  height: 20em;
}

.dropdown-content {
  display: flex;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.test {
  display: none;
  flex-flow: column;
  align-items: center;
  height: 4.6em;
  width: 11.3em;
  background: #E6E6E6;
  box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
  margin-top: 2.2em;
}

.btn-theme {
  background: #F0F0F0;
  border: 1px solid #808080;
  box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  width: 150px;
  height: 36px;
}

.btn-theme:active {
  background: #FFF4FD;
  border: 1px solid #CCA6C9;
  box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.btn-more {
  margin: 0;
  padding: 0;
  right: 18em;
  position: relative;
  bottom: 1em;
  background: #4180F6;
  border: 1px solid #4C2F99;
  box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
  height: 2em;
  width: 4.2em;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
}

.pad-right {
  padding-right: 1.6em;
}

.anchors-norm:hover {
  border: 1px solid #110038;
}

.anchors-norm:active {
  color: #110038;
}
.anchors-norm{
  font-family: "ChakraPetch", Regular;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 18px;
  text-decoration:none;
}